@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.demo-toolbar {
    padding: 6px;
}

.demo-toolbar-icon {
    padding: 0 14px;
}

.demo-fill-remaining {
    flex: 2 2 auto;
    margin: 0 30%;
}

.mat-form-field input[type="text"] {
    width: 100%;
    border: 1px solid #CCC;
    padding: 6px;
}