<md-toolbar color="primary">
    <md-icon class="demo-toolbar-icon">menu</md-icon>
    <span> 
    <h2>TEST LOGO</h2>
  </span>

    <span class="demo-fill-remaining">
          <md-form-field class="example-full-width">
              <input mdInput value="" type="text">
              <button md-raised-button>Advanced search</button> 
            </md-form-field> 
      </span>

    <md-icon class="demo-toolbar-icon">accessible</md-icon>
    <md-icon class="demo-toolbar-icon">account_circle</md-icon>
    <md-icon class="demo-toolbar-icon">book</md-icon>
    <md-icon class="demo-toolbar-icon">card_giftcard</md-icon>
    <md-icon class="demo-toolbar-icon">exit_to_app</md-icon>
</md-toolbar>