@import "~@angular/material/prebuilt-themes/indigo-pink.css";
md-grid-tile {
    background: lightblue;
}

.demo-toolbar {
    padding: 6px;
}

.demo-toolbar-icon {
    padding: 0 14px;
}

.demo-fill-remaining {
    flex: 2 2 auto;
    text-align: center;
    margin: 0 20%;
}

.mat-form-field {
    width: 60%;
    border: 1px solid #CCC;
    padding: 10px;
}