<!-- <md-toolbar>
    <md-icon>menu</md-icon>
    <div class="logo_area">1</div>
    <div class="search_area">1</div>
    <div class="right_area">1</div>
</md-toolbar> -->
<md-toolbar>
    <md-icon class="demo-toolbar-icon">menu</md-icon>
    <span> 
      <h2>KPMD LOGO</h2>
    </span>

    <span class="demo-fill-remaining">
        <md-form-field class="example-full-width">
            <input mdInput placeholder="City">
          </md-form-field>

    </span>

    <md-icon>code</md-icon>
</md-toolbar>